*{
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
#container{
    background-color: rgb(243, 143, 129);
    padding: 60;
    border-radius: 10px;
    margin: 100px 200px;
    /* box-sizing: border-box; */
}
#headding{
    color: yellow;
    font-style: italic;
    font-size: 300%;
}
input[type=text]{
    border-radius: 10px;
    padding: 15px;
    font-size: larger;
    margin-bottom: 10px;
}
input:focus{
    border-color: rgb(87, 255, 30);
    border-width: 3px;
    outline: 0;
}
input[type=submit]{
    background: #dff49a;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    color: rgb(24, 6, 159);
    font-size:18px;
    font-weight: 500;
}
#output{
    color: whitesmoke;
}
#image{
    width: 150px;
}